.settings-container {
  display: flex;
}

.settings-wrapper {
  flex: 9;
  padding: 20px;
}

.settings-file-input-field {
  display: none;
}

.settings-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings-update-title {
  font-size: 30px;
  margin-bottom: 20px;
  color: #f08080;
}

.settings-delete-title {
  font-size: 12px;
  color: #ff0000;
  cursor: pointer;
}
.settings-form {
  display: flex;
  flex-direction: column;
}

.settings-profile-pic {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.settings-profile-pic-image {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.settings-profile-pic-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #f08080;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}

.settings-form > label {
  font-size: 20px;
  margin-top: 20px;
}
.settings-form > input {
  color: #808080;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid #d3d3d3;
}

.settings-submit {
  width: 150px;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  margin-top: 20px;
  background-color: #008080;
  cursor: pointer;
}

.settings-success {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: #00ff00;
}
